/*Typography*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
    /*font-family: 'Poppins', sans-serif;*/
    /*purpose : everything*/
    /*weights : 500, 700*/
/*end of Typography*/





/*base styling / resets*/
:root {
    /*Colors*/
        /*Primary colors*/
        --cyan:hsl(180, 66%, 49%);
        --dark-violet: hsl(180, 66%, 49%);

        /*Secondary*/
        --red:hsl(0, 87%, 67%);

        /*Neutral*/
        --gray:hsl(0, 0%, 75%);
        --grayish-violet:hsl(0, 0%, 75%);
        --very-dark-blue:hsl(255, 11%, 22%);
        --very-dark-violet:hsl(260, 8%, 14%);
    /*end of colors*/    
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-size:18px;
    line-height:1.4;
}

body {
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

img {
    display:block;
    max-width:100%;
}

ul { 
    list-style:none;
    padding:0;
    margin:0;
 }
   
a { 
    color:currentColor;
    text-decoration:none;
 }
/*end of base styling / resets/*





 /*navbar*/
.navbar {
    position: relative;
    width:100%;
    padding:1.5rem 0;
    /* height:5rem; */
}

.navbar__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:80%;
    height:100%;
    margin:0 auto;
}

.navbar-logo {
    transform:scale(0.8);
}

.navbar__hamburger-menu {
    position: relative;
}

.navbar__hamburger-menu__bar {
    background-color:gray;
    background-color:var(--grayish-violet);
    width:30px;
    height:4px;
}

.bar--1 {
    position: absolute;
    top:-10px;
}

.bar--3 {
    position: absolute;
    top:10px;
}

.navbar__items-container {
    display:none;
}

/*
TODO:
1. navbar dropdown menu
2. main section
3. the rest of the site..
*/

 /*end of navbar*/





/*main*/

 /*end of main*/




 
 /*utilities*/
    /*generic button styles*/
    .btn {
        color:white;
        background-color: cyan;
        background-color:var(--cyan);
        border:none;
    }

    .btn:hover {
        cursor:pointer;
    }
    /*very round corners*/
    .btn--type-1 {
        border-radius: 100px;
    }
     /*minimally round corners*/
    .btn--type-2 {
        border-radius: 3px;
    }
    /*end of generic button styles*/

/*end of utilities*/